<a href="https://colab.research.google.com/github/Nextlvlanalytics/algorithms/blob/main/List_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import random as random

In [ ]:
def dataProcessor(df:pd.DataFrame, cats, values):
    master_list = []
    md = {}
    categories = df[cats].unique() 

    for category in categories:
        tmp = df[df[cats] == category]
        ltmp = list(set(tmp[values]))
        master_list.append(ltmp)

    for lst in master_list:
        key = master_list.index(lst)
        value = lst
        md[key] = value

    return md

In [75]:
mlst = []

for i in range(50000):

  rdm = random.randint(1,8)
  lst = []
  for j in range(rdm):


    lst.append(random.randint(a=100000, b=999999))
  
  rdm = random.randint(1,8)
  mlst.append(lst)


receipts = {mlst.index(lst):lst for lst in mlst}

In [76]:
mlst = []

for i in range(100000, 150000):

  rdm = random.randint(1,8)
  lst = []
  for j in range(rdm):

    lst.append(random.randint(a=100000, b=999999))
  
  rdm = random.randint(1,8)
  mlst.append(lst)


unvouchered = {mlst.index(lst)+10:lst for lst in mlst}

# unvouchered.update(receipts)
# unvouchered.pop(0)
# unvouchered.pop(5)
# unvouchered.pop(6)
# unvouchered.pop(7)
# unvouchered.pop(8)
# unvouchered.pop(3)

In [66]:
receipts = {10: [224893],
 11: [132109, 840102, 866152, 809401, 558776, 221700, 682223, 540772],
 12: [721741, 184054, 957796, 327324, 423214],
 13: [514419, 182790, 825516, 162106, 879885, 385059],
 14: [933151],
 15: [111190, 614361, 287690, 938624, 431609],
 16: [540653],
 17: [141538, 576858],
 18: [274720, 368494, 462421, 622329],
 19: [474403, 509709, 913892, 989464],
 20: [920013],
 21: [362659],
 44: [900047, 157216, 810680],
 96: [439139, 287976, 831879, 498380, 795880, 637137]}

In [67]:
chargebacks = {0: [471305, 147156],
 1: [920013],
 2: [362659],
 3: [912228, 994440, 795692, 461620, 605674, 483547, 750505, 775702],
 4: [900047, 157216, 810680, 774590, 185209, 590272, 270048, 803467],
 5: [877793, 189178, 360703],
 6: [381330, 502476, 570746, 662371, 969525, 382363, 972457],
 7: [157316, 822388, 674559, 678052, 437438, 698679, 737993, 118770],
 8: [697864, 257347, 783491, 177532, 345696, 622345],
 9: [439139, 287976, 831879, 498380, 795880, 637137]}

Goal: I need to compare the contents of chargebacks to receipts such that I can find receipts that have similar item contents for reversal. 

I can pass receipts and chargebakcs as dictionaries where keys are unique ID's (PO numbers) and values are lists of item SKU's associated with that PO. 

Intake two dictionaries, output could be a dataframe of receipt PO, chargeback PO, item_list1, item_list2, likeness %.

In [61]:


def algo(receipts: dict(), chargebacks: dict()) -> pd.DataFrame:

  result = []
  for key in receipts:
    rec_items = receipts[key]
    for keyy in chargebacks:
      cb_items = chargebacks[keyy]
      validity_array = np.zeros_like(cb_items) # array for accuracy scoring
      for product in rec_items: # check if current receipt item is in my current chargeback
        if product in cb_items:
          validity_array[cb_items.index(product)] = 1 # Where receipt exists in chargeback flip digit to 1 @ index of matched item
      acc_score = validity_array.sum() / validity_array.size # calculating match accuracy

      result.append([key, rec_items, keyy, cb_items, acc_score])
  final_result = pd.DataFrame(result, columns=['receipt_po', 'receipt_items','chargeback_po', 'chargeback_items', 'acc_score'])
  
  return final_result

In [77]:
%time

test = algo(receipts, chargebacks)
#test.query("acc_score > 0")

CPU times: user 5 µs, sys: 0 ns, total: 5 µs
Wall time: 7.87 µs

In [78]:
test

,receipt_po,receipt_items,chargeback_po,chargeback_items,acc_score
0,0,"[928442, 741725]",0,"[471305, 147156]",0.0
1,0,"[928442, 741725]",1,[920013],0.0
2,0,"[928442, 741725]",2,[362659],0.0
3,0,"[928442, 741725]",3,"[912228, 994440, 795692, 461620, 605674, 48354...",0.0
4,0,"[928442, 741725]",4,"[900047, 157216, 810680, 774590, 185209, 59027...",0.0
...,...,...,...,...,...
499735,49999,"[130917, 638494]",5,"[877793, 189178, 360703]",0.0
499736,49999,"[130917, 638494]",6,"[381330, 502476, 570746, 662371, 969525, 38236...",0.0
499737,49999,"[130917, 638494]",7,"[157316, 822388, 674559, 678052, 437438, 69867...",0.0
499738,49999,"[130917, 638494]",8,"[697864, 257347, 783491, 177532, 345696, 622345]",0.0
499739,49999,"[130917, 638494]",9,"[439139, 287976, 831879, 498380, 795880, 637137]",0.0

In [50]:
items = [123, 456,789]

if 123 in items:
  print('yes')

yes

In [46]:
v_array = np.zeros_like(items)
v_array

array([0, 0, 0])

In [60]:
if 123 in items:
  v_array[items.index(123)] = 1

v_array.sum()

1

In [52]:
result = pd.DataFrame()

result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Empty DataFrame

In [55]:
result = pd.concat([result, )
result

AttributeError: ignored